@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Tablas</h1>
    <div class="card mb-4">
        <div class="card-body">
            Aquí va el contenido específico de la vista.
        </div>
    </div>
</div>




